@font-face {
    font-family: 'Semplicita Pro';
    src: local('Semplicita Pro Bold'), local('Semplicita-Pro-Bold'),
        url('SemplicitaPro-Bold.woff2') format('woff2'),
        url('SemplicitaPro-Bold.woff') format('woff'),
        url('SemplicitaPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }