@import'base';

.header{
    position: relative;

    .font-header {
        width: 70%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}


.logo-and-menu {
    justify-content: space-between;
    align-items: center;
    padding: 51px 140px;

    .logo {
        font-family: "SegoeUIBold";
        font-size: 43px;
    }
}

.nav-menu {
    width: 65%;
    z-index: 2;
    align-items: center;

    nav {
        width: 61%;
        margin-right: 10%;

        ul {
            justify-content: space-between;
        }

        a {
            font-family: "SegoeUISemiBold";
            font-size: 24px;
            color: #FFFFFF;
            opacity: .7;
        } 
    }
}

.text {
    font-family: "SegoeUIRegular";
    padding: 226px 140px;

    h1 { 
        font-size: 71px;
        line-height: 92px;
        font-weight: normal;
    }

    p {
        font-size: 26px;
        line-height: 41px;
        opacity: .5;
        margin-top: 41px;
        margin-bottom: 80px;
    }
}

.social-networks-and-scrolling {
    justify-content: space-between;
    align-items: center;
    padding-left: 140px;
    position: relative;

    .social-networks {
        width: 196px;
        justify-content: space-between;
    }

    .scrolling {
        position: absolute;
        bottom: 0;
        left: 40%
    }
}

.container-our-food {
    margin-top: 200px;
    margin-bottom: 200px;
}

.our-food-cards {
    margin: 0 135px;

    .our-food {
        font-family: "SegoeUIRegular";
        font-size: 71px;
        color: #242424;
        margin-bottom: 60px;
    }

    .card-product-description {
        margin: 20px 0;
    }

    .card {

        img {
            margin-right: 30px;
        }

        span {
            font-family: "SegoeUISemiBold";
            font-size: 33px;
            color: #242424;
        }
    }

    .product-description {
        font-family: "SegoeUIRegular";
        margin-left: 93px;
        line-height: 33px;
        font-size: 21px;
        opacity: .5;
    }

    button {
        margin-top: 60px;
    }
}


    
