@font-face {
  font-family: "SegoeUIRegular";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIBold";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUIItalic";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUILight";
  src: url("../fonts/SegoeUILight/SegoeUILight.eot");
  src: url("../fonts/SegoeUILight/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUILight/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUILight/SegoeUILight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SegoeUISemiBold";
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUISemiBold/SegoeUISemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  width: 232px;
  height: 64px;
  border-radius: 50px;
  border: none;
  background: #F8A22F;
  cursor: pointer;
}

button a {
  font-family: "SegoeUISemiBold";
  font-size: 22px;
  color: #FFFFFF;
}

.words-color {
  color: #F8A22F;
}

.header {
  position: relative;
}

.header .font-header {
  width: 70%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.logo-and-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 51px 140px;
}

.logo-and-menu .logo {
  font-family: "SegoeUIBold";
  font-size: 43px;
}

.nav-menu {
  width: 65%;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-menu nav {
  width: 61%;
  margin-right: 10%;
}

.nav-menu nav ul {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-menu nav a {
  font-family: "SegoeUISemiBold";
  font-size: 24px;
  color: #FFFFFF;
  opacity: .7;
}

.text {
  font-family: "SegoeUIRegular";
  padding: 226px 140px;
}

.text h1 {
  font-size: 71px;
  line-height: 92px;
  font-weight: normal;
}

.text p {
  font-size: 26px;
  line-height: 41px;
  opacity: .5;
  margin-top: 41px;
  margin-bottom: 80px;
}

.social-networks-and-scrolling {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 140px;
  position: relative;
}

.social-networks-and-scrolling .social-networks {
  width: 196px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-networks-and-scrolling .scrolling {
  position: absolute;
  bottom: 0;
  left: 40%;
}

.container-our-food {
  margin-top: 200px;
  margin-bottom: 200px;
}

.our-food-cards {
  margin: 0 135px;
}

.our-food-cards .our-food {
  font-family: "SegoeUIRegular";
  font-size: 71px;
  color: #242424;
  margin-bottom: 60px;
}

.our-food-cards .card-product-description {
  margin: 20px 0;
}

.our-food-cards .card img {
  margin-right: 30px;
}

.our-food-cards .card span {
  font-family: "SegoeUISemiBold";
  font-size: 33px;
  color: #242424;
}

.our-food-cards .product-description {
  font-family: "SegoeUIRegular";
  margin-left: 93px;
  line-height: 33px;
  font-size: 21px;
  opacity: .5;
}

.our-food-cards button {
  margin-top: 60px;
}
/*# sourceMappingURL=styl.css.map */